*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    margin: 0 auto;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    padding-top: 30px;
    padding-left: 32px;
    padding-bottom: 29px;
}
.header .container{
   display: flex;
   justify-content: space-between;
}
.nav-list{
    display: flex;
    gap: 56px;
    list-style-type: none;
}
.nav-list-item a{
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}
.nav-list-item a:hover{
    text-decoration: underline;
}
.template-btn{
    display: block;
    width: 155px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    cursor: pointer;
}
.aperture-studios{
    background: url("/images/aperture-studios.png") no-repeat;
    text-align: center;
}
.aperture-studios-subtitle{
    margin-bottom: 442px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.aperture-studios-title{
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
}
.aperture-studios-desc{
    width: 580px;
    margin: 18px auto;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.aperture-studios-info, .aperture-post-info, .aperture-tools-info{
    margin-left: 77.6%;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 12px;
    color:#FFFFFF;
    
}
.aperture-studios-info img{
    margin-left: 10px;
}
.aperture-studios-info img:first-of-type{
    margin-left: 0;
}
.aperture-areas{
    width: 1168px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.aperture-areas-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 4px;
}
.aperture-area{
    width: 576px;
   padding-left: 30px;
    padding-right: 45px;
    padding-bottom: 30px;
    margin-bottom: 4px;
}
.aperture-area:nth-child(1){
    background: url("./images/aperture-area-1.png") no-repeat; 
}
.aperture-area:nth-child(2){
    background: url("./images/aperture-area-2.png") no-repeat; 
}
.aperture-area:nth-child(3){
    background: url("./images/aperture-area-3.png") no-repeat; 
}
.aperture-area:nth-child(4){
    background: url("./images/aperture-area-4.png") no-repeat; 
}
.aperture-area-category, .aperture-area-desc{
    font-size: 14px;
    line-height: 20px;
    
}
.aperture-area-category{
    margin-top: 421px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.aperture-area:nth-child(3) .aperture-area-category, .aperture-area:nth-child(4) .aperture-area-category {
    margin-top: 401px;    
}
.aperture-area-desc{
    margin-bottom: 10px;
    width: 501px;
    font-size: 14px;
    line-height: 20px;
     color: #C0C0C0;
}
.aperture-area:nth-child(2) .aperture-area-desc {
    width: 514px;
}
.aperture-area:nth-child(3) .aperture-area-desc {
    width: 516px;
}
.aperture-area:nth-child(4) .aperture-area-desc {
    width: 480px;
}
.aperture-area-more, .aperture-tools-check{
    width: 143px;
    border: 1px solid #FFFFFF;
    background: #FFFFFF url("./images/aperture-area-frame.svg") no-repeat left;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 6px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    cursor: pointer;
}
.aperture-post {
    background: url("./images/post-1.png") no-repeat;
    padding-top: 260px;
    padding-bottom: 40px;
}
.aperture-post-title, .aperture-post-desc{
    margin-left: 70%;
}
.aperture-post-title{
 
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF
}
.aperture-post-desc{
    width: 319px;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.aperture-post-info{
    margin-top: 200px;
    margin-bottom: 0;
}
.aperture-tools{
    width: 1440px;
    background: url("./images/tools.png") no-repeat right;
    height: 540px;
    position: relative;
}
.aperture-tools-content{
    position: absolute;
    top: 173px;
    left: 100px;
}
.aperture-tools-subtitle{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.aperture-tools-title{
    margin-top: 6px;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
}
.aperture-tools-desc{
    margin-top: 6px;
    margin-bottom: 20px;
    width: 514px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.aperture-tools-check{
    padding-left: 24px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
}
.aperture-tools-info{
   position: absolute;
   width: 281px;
   top: 470px;
   right: 0; 
}
.post-costa{
    background: url("./images/post-2.png"), no-repeat;
}
.post-costa .aperture-post-desc {
    width: 273px;
}
.post-costa .aperture-post-info {
    margin-left: 70%;
}
.aperture-clients{
    width: 1168px;
    margin: 113px auto;

}
.aperture-clients-title{
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.aperture-clients-subtitle{
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.aperture-clients-logos{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.aperture-clients-logos img {
    display: block;
}